.sliderimg{

}
.slidertext{

}
.itemm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 237px;
    color: black;
    margin: 0 15px;
    font-size: 4em;
    outline: none;
    background: linear-gradient(90deg, #F7F7F7 0%, #FFFFFF 26.56%, #FEFEFE 63.02%, #F5F5F5 100%);
    box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.05);
    border-radius: 27px;
}