.product{
    width: 303px;
    height: 276.93px;
    background: #FEFEFE;
    border-radius: 15px;
    position: relative;
    vertical-align: middle;
    margin: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.product:hover{
    transform: scale(1.05);
}
.name{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 18px;
    color: #2B2B2B;
    padding: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.img{
    position: absolute;
    top: 58px;
    left: 0;
    max-width: 303px;
    height: auto;
    max-height: 171px !important;
    border-bottom: 1px solid#F54343;
}
.imgOverlay {
    max-width: 303px;
    height: auto;
    position: absolute;
    top: 58px;
    left: 0;
}

.cena{
    position: absolute;
    bottom:-6px;
    left: 12px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #2B2B2B;
}
.cena span{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #F54343;
}

.input{
    position: absolute;
    bottom: 0;
    outline :none;
    border: 1px solid#F54343;
    border-left: 0;
    width: 48.24px;
    height: 48.24px;
    /* z-index: 10000000000000; */
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans";
    color: black;
    text-align: center;
    right: 148.28px;
    background: #FEFEFE;
    padding-left: 10px;
}