.kartice{
    display: flex;
    justify-content: center;
    margin-top:20px;
    padding: 0 20px;
    z-index: 5000;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    /* padding-top: 50px; */
    margin-top: 35px;
}
.line{
    width: 60%;
    margin-left: 20%;
    height: 1px;
    background-color: #212121;
}
.naslov{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.09em;
    margin-left: 28px;
    margin-top: 100px;
    color: #212121;

}
@media screen and (max-width: 400px) {
    .kartice{
        padding: 0 10px;
    }
}