.korisnik{
    width: calc(50% - 20px);
    margin: 10px;
    background-color: white;
    height: 118px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    display: inline-block;
}
.korisnik .datum{
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #2B2B2B;
}
.korisnik .ime{
    margin-left: 10px;
    margin-top: 45px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #2B2B2B;
}
.korisnik .adresa{
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2B2B2B;
}
.korisnik .rabat{
    position: absolute;
    top: 0;
    right: 50px;
    height: 118px;

}
.korisnik .rabat .box{
    border-radius: 10px;
    width: 43px;
    height: 43px;
    display: inline-block;
    margin-right: 10px;
    border: 0.5px solid #F54343;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #2B2B2B;
    margin-top: 35px;
    padding-top: 10px;
    text-align: center;
}
.korisnik .rabat .proc{
    /* position: absolute; */
    padding-top: 50px;
    display: contents;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #2B2B2B;
}
.edit{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.delete{
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
