.item{
    position: absolute;
    width: 678px;
    height: auto;
    left: calc(50% - 339px);
    top: 150px;
    padding: 20px;
    background: #FEFEFE;
    border-radius: 17px;
    z-index: 91;
}
.line{
    border: 0.5px solid #2B2B2B;
    width: 90%;
    margin-left: 5%;
    height: 0;
    margin-top: 25px;
    margin-bottom: 10px;
    display: block;;
}
.block{
    display: block;
    height: 40px;
    width: 100%;
}
.img{
    width: 408px;
    height: auto;
    display: inline-block;
    float: left;
}
.name{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    color: #2B2B2B;
    display: block;
    margin-right: 30px;
    margin-left: 30px;
}
.cena{
    display: inline-block;
    margin-left: 20px;
    font-family: 'Open Sans';
}

.atcbutton{
    border-radius: 10px;
    position: relative;
    margin-left: 20px;
    /* margin-top: 15px; */
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
}
.cena p{
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
}
.cena h3 span{
    color: #F54343;
}
.block p{
    position: absolute;
    left: 25px;
    display: inline-block;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #8F8F8F;
}
.block h3{
    position: absolute;
    display: inline-block;
    right: 25px;
    display: inline-block;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #8F8F8F;
}
.x{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.item input{
    position: relative;
    /* bottom: 0; */
    display: inline-block;
    outline: none;
    border: 1px solid#F54343;
    border-bottom: 0;
    width: 148.28px;
    height: 48.24px;
    /* z-index: 10000000000000; */
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans";
    color: black;
    text-align: center;
    /* right: 148.28px; */
    background: #FEFEFE;
    padding-left:0px;
    margin-left: 20px;
}

@media screen and (max-width: 710px) {
    .item{
        width: calc(100% - 60px);
        margin-left: 30px;
        left: 0;
    }


}

@media screen and (max-width: 680px) {
    .img{
        margin-left: calc(50% - 204px);
    }
    .cena{
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .atcbutton{
        display: block;
        margin-left: calc(50% - 74.5px);
        margin-top: 0;
    }
    .item{
        text-align: center;
    }
    .item input{
        display: block;
        margin-left: calc(50% - 74.5px);
    }
}


@media screen and (max-width: 520px) {
    .img{
        width: calc(100%);
        margin-left: 0;
    }


}
@media screen and (max-width: 440px) {
    .cena{
        margin-bottom : 0;
    }


}
