.Navitem{
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    padding: 20px;
    color: #8F8F8F;
    width: 66px;
    height: 20px;
    /* left: 733px; */
}
.Navitem:active{
    color: #F54343;
}
.Navitem:hover{
    color: #F54343;
}