.body{
  width: 100%;
  min-height: calc(100% + 50px);
  height: auto;
  padding-top: 108px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F7F7F7;
  z-index: 2;
  margin-bottom: 319px;
  padding-bottom: 50px;
}
  .naslov{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;  
    color: #2B2B2B;
    margin-left: 47px;
  }
  .line{
      width: 90%;
      margin-left: 5%;
      border: 1px solid #BCBCBC;
  }
.total {
    display: inline-block;
    position: absolute;
    right: 100px;
    margin-top: 20px;
}
.cartitems{
    display: inline-block;
}
.praznaKorpa{
  margin-left: 50px;
}
.praznaKorpa h3{
  font-size: 35px;
  font-family: "Bebas Neue";
  margin-bottom: 0;
  font-weight: 500;
}
.back{
  cursor: pointer;
  margin-left: 40px;
  font-family: "Open Sans";
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 22px;
}

@media only screen and (max-width: 1300px) {


  .total{
      display: block;
      position: relative;
      left: 0;
      margin-left: calc(50% - 205px);
  }


}

@media screen and (max-width: 950px) {
  .body{
      position: relative;
      margin-bottom: 0;
  }
}

@media screen and (max-width: 550px) {
  .total{
      margin-left: 0;
  }
}