.body{
    width: 100%;
    height: auto;
    padding-top: 108px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F7F7F7;
    z-index: 2;
    margin-bottom: 319px;
    padding-bottom: 50px;
    min-height: calc(100% - 280px);
  }

  .naslov{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;  
    color: #2B2B2B;
    margin-left: 47px;
  }
  .line{
      width: 90%;
      margin-left: 5%;
      border: 1px solid #BCBCBC;
  }
.total {
    display: inline-block;
    position: absolute;
    right: 100px;
    margin-top: 20px;
}
.cartitems{
    display: inline-block;
}