.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FDFDFD;
    height: 106px;
    display: inline-block;
    z-index: 100;
}


.headerbig{
    
}
.responsive{
    display: none;
}
.logos{
    margin-left: calc(50% - 48.57px) !important;
}