.Search{
    position: relative;
    display: inline-block;
    overflow: auto;
    margin-left: 60px;
}

.input{
    width: 504px;
    height: 44px;
    /* left: 179px; */
    top: 29px;
    display: inline-block;
    /* position: absolute; */
    background: #FFFFFF;
    border: 0.5px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 9px;
    outline-color: #BCBCBC;
    padding-left: 63px;
    font-size: 20px;
    z-index: 2;
}

.search::placeholder{
    color: #C7C7C7;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

.lupica{
    width: 47px;
    height: 44px;
    position: absolute;
    /* top: 29px; */
    /* margin-left: 55px; */
    border-right: 1px solid #C7C7C7;
    display: inline-block;
    z-index: 3;
    left: 0;
}
.lupica img{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 16px;
    top: 13px;

}