.body{
    width: 100%;
    height: auto;
    min-height: 70vh !important;
    padding-top: 108px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #F7F7F7;
    z-index: 2;
    margin-bottom: 319px;
    padding-bottom: 50px;
    min-height: calc(100% - 280px);
  }

  .naslov{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;  
    color: #2B2B2B;
    margin-left: 47px;
    cursor: pointer;
    display: inline-block;
  }
  .line{
      width: 90%;
      margin-left: 5%;
      border: 1px solid #BCBCBC;
  }
  
  .naslov2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.09em;
    margin-top: 100px;
    color: #212121;

}
.filter{
  margin-top: 0 !important;
  margin-left: 47px!important;
  margin-bottom: 15px!important;
  position: relative !important;
}

.naslovmanji{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin-left: 47px;
    color: #2B2B2B;
}

@media screen and (max-width: 950px) {
  .body{
      position: relative;
      margin-bottom: 0;
  }
}
.selectt
{
    border-radius: 10px;
    width: 170px;
    height: 35px;
    outline: none;
    border: .5px solid #2b2b2b;
    padding-left: 10px;
    font-family: "Open Sans";
    font-size: 14px;
    margin-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 750px) {
  .naslov ,.naslovmanji,.filter{
    margin-left: 25px !important;
  }
  .line{
    width: calc(100% - 50px);
    margin-left: 25px;
}

}





@media screen and (max-width: 660px) {
  .selectt{
     display: block;
     margin-left: 25px;
     margin-bottom: 15px;
  }
}
