.body{
    width: 100%;
    height: auto;
    padding-top: 108px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F7F7F7;
    z-index: 2;
    margin-bottom: 319px;
    padding-bottom: 50px;
    min-height: calc(100% - 280px);
  }

  .naslov{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;  
    color: #2B2B2B;
    margin-left: 47px;
    cursor: pointer;
  }
  .line{
      width: 90%;
      margin-left: 5%;
      border: 1px solid #BCBCBC;
  }
  
  .naslov2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.09em;
    margin-top: 100px;
    color: #212121;

}
.filter{
  margin-top: 0 !important;
  margin-left: 47px!important;
  margin-bottom: 15px!important;
  position: relative !important;
}

.naslovmanji{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin-left: 47px;
    color: #2B2B2B;
}

@media screen and (max-width: 950px) {
  .body{
      position: relative;
      margin-bottom: 0;
  }
}

/* @media screen and (max-width: 450px) {
  .filter{
     margin-left: 30px;
     position: relative;
     margin-bottom: 20px;
  }
} */